body {
  background-color: #ecf0f1; /* light grey */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: sans-serif;
  text-align: center;
}

.main-container {
  background-color: #ffffff; /* basically white */
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
}

h1 {
  color: #2c3e50; /* bluish black */
}

#timer {
  font-size: 4.5rem;
  font-weight: 700;
  color: #3498db; /* blue */
}

p {
  font-size: 0.9rem;
  color: #7f8c8d; /* grey */
}
