body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-family: sans-serif;
    background-color: #F5F5F5;
}

.main-content {
    background-color: white;
    padding: 40px;
    border-radius: 12px;

    text-align: center;

    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15); 
}

h1 {
    font-family: sans-serif;
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 25px;
}

#colorname {
    background-color: #F7F7F7;
    padding: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #2c3e50;
    border: 3px solid #E0E0E0;}

#btn {
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white; 
    background-color: white;
    border: none;
    border-radius: 50px;
}

#btn:hover {
    opacity: 0.9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
